[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
kubernetes = "~=21.0"
prometheus-client = "~=0.14"
prometheus-flask-exporter = "*"
gunicorn = "*"
werkzeug = "*"
click = "~=8.1"

[requires]
python_version = "3.8"
